
.art {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(10, 11, 11, 0.3);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    color: #16191a;
    background: linear-gradient(90deg, #a0d7da, #6fa8f8);
  }
  
  .headerText {
    padding: 0.5rem 1rem 0 1rem;
  }
  
  .headerText h2 {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .headerText p {
    font-size: 0.75rem;
    color: #16181a;
    font-style: italic;
  }
  
  .art h2,
  .art p {
    margin: 0;
  }
  
  .image {
    position: relative;
    height: 25rem;
  }
  
  .art img {
    object-fit: cover;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 1rem 0 0 1rem;
  }
  
  .actions {
    padding: 1rem;
    text-align: right;
  }
  
  .actions a {
    display: inline-block;
    margin-top: 0rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #539cef, #6bb9ed);
    color: #000000;
    font-weight: bold;
  }
  
  .actions a:hover,
  .actions a:active {
    background: linear-gradient(90deg, #0b51a7, #247a9c);
    box-shadow: 0 0 5px rgba(18, 46, 63, 0.8);
  }
  